form {
    width: 85%;
    margin: auto;
}

fieldset legend {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #333333;
    text-align: left;
    margin-bottom: 17px;
}

.btn-send{
    width: 100%;
    color: #FFF;
    background-color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 14px 0;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.btn-send:hover{
    transform: scale(1.02);
}

.btn-send:active{
    transform: scale(1);
}

.inputs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 8px;
    row-gap: 18px;
}

.inputs-container input[type="text"]{
    padding: 22px 16px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
    transition: all 0.2s ease-out;
}

.inputs-container input[type="text"]:focus{
    box-shadow: 0 0 0 1px #585858;
}

.empty-field{
    box-shadow: 0 0 0 1px #F8475F;
}

.form-message{
    margin: 26px 0 0;
}
@media only screen and (min-width: 992px) {
    fieldset legend  {
        text-align: center;
    }
    
    .inputs-container{
        flex-direction: row;
    }

    .btn-send{
        max-width: 140px;
    }

    .inputs-container input[type="text"]{
        padding: 22px 14px;
        width: 280px;
    }
    
}