body {
  margin: 0;
  font-family: 'Nunito', 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  text-align: center;
}

input, button, fieldset, ul{
  outline: none;
  border: none;
  padding: 0;
}

button:hover, input[type="submit"]{
  cursor: pointer;
}

ul {
  list-style: none;
}